<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<h1>CAR: <%= carDoc.name %>
	</h1>

	<% if (carDoc.isReadyToDrive === true) { %>
		<span>Ready to drive</span>
	<% } else { %>
		<span>Not Ready to drive</span>
	<% } %>

	<form method="POST" action="/cars/<%= carDoc._id %>?_method=DELETE">
		<button type="submit">Delete resource</button>
	</form>
	<a href="/cars/<%= carDoc._id %>/edit">Edit <%= carDoc.name %></a>
	<a href="/cars">Back to Cars</a>

</body>

</html>